<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.roger.tvmodule">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".HomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity
            android:name=".system.MainActivity"
            android:screenOrientation="landscape">
            <!--这几样不能加，加了不显示icon桌面图标-->
            <!--android:banner="@drawable/app_icon_your_company"-->
            <!--android:icon="@drawable/app_icon_your_company"-->
            <!--android:label="@string/app_name"-->
            <!--android:logo="@drawable/app_icon_your_company"-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->

            <!--</intent-filter>-->
        </activity>
        <activity android:name=".system.DetailsActivity" />
        <activity android:name=".system.PlaybackActivity" />
        <activity android:name=".system.BrowseErrorActivity" />
    </application>

</manifest>